@media only screen and (min-width: 1024px)
{
    .background
    {
        animation-name: background-in;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

    .left
    {
        animation-name: appear-left;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

    .right
    {
        animation-name: appear-right;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
}

@media only screen and (max-width: 1023px)
{
    .background
    {
        animation-name: background-out;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    .left
    {
        animation-name: disappear-left;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

    .right
    {
        animation-name: disappear-right;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
}

@keyframes background-in
{
    0%
    {        
        opacity: 0%;
    }
    100%
    {        
        opacity: 100%;
    }
}

@keyframes background-out
{
    0%
    {        
        opacity: 100%;
    }
    100%
    {        
        opacity: 0%;
    }
}

@keyframes disappear-left
{
    0%
    {
        left: 0%;
    }
    100%
    {
        left: -100%;
    }
}

@keyframes disappear-right
{
    0%
    {
        right: 0%;
    }
    100%
    {
        right: -100%;
    }
}

@keyframes appear-left
{
    0%
    {
        left: -100%;
    }
    100%
    {
        left: 0%;
    }
}

@keyframes appear-right
{
    0%
    {
        right: -100%;
    }
    100%
    {
        right: 0%;
    }
}