body
{
    background-color: rgb(5, 5, 5);
    margin: 0%;
    min-width: 480px;    
    display: flex;    
    flex-direction: column;
    align-items: center;    
}

main
{
    margin-left: 10%;
    margin-right: 10%;    
    height: auto;
    background-color: rgb(131, 189, 83);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    width: 420px;
    box-shadow: 0 0 10px #0b0b0b99;
    z-index: 3;
    perspective: 1000px;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;    
}

footer
{
    font-family: 'Raleway';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 115);    
    z-index: 5;
    height: 50px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* //////////////////////// ADAPTATIVE BACKGROUND SETTINGS */
.background
{
    background-image: url(../resources/images/foliage.webp);
    position: fixed;
    width: 80%;
    height: 100%;
    opacity: 0;
    z-index: 2;    
}

.background-d
{
    background-image: url(../resources/images/imageedit_2_2921364143-modified.webp);
    position: fixed;
    width: 80%;
    height: 100%;
    z-index: 1;    
}

/* //////////////////////// PORTFOLIO NAV */
nav
{
    font-family: 'Raleway';
    background-color: rgb(188, 218, 215);
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid;    
    display: flex;
    justify-content: space-around;
}

nav a
{
    background-color: rgb(66, 165, 0);
    padding: 3px;    
    border-color: black;
    display: flex;
    width: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-wrap: normal;
    box-shadow: 0px 3px rgb(5, 5, 59);    
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

nav a:hover
{
    background-color: rgb(54, 248, 141);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    cursor: default;
    box-shadow: 0px 3px rgb(133, 133, 231) !important;
}

nav a:active
{
    transform: translateY(4px);
    box-shadow: 0px 0px rgb(133, 133, 231) !important;
    transition: 0.1s;
}

.nav-active-btn
{
    background-color: yellow !important;
    box-shadow: 0px 3px rgb(91, 151, 3) !important;
}

/* //////////////////////// BUTTONS NAV'S DIV */
#btn-div
{
    border: 1px solid black;
    padding-bottom: 10px;
}

.profile-pic
{
    background-image: url(../resources/images/coder.png);
    background-size: cover;
    background-repeat: no-repeat;    
    width: 150px;
    height: 150px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.real-pic
{
    background-image: url(../resources/images/real-pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
    width: 150px;
    height: 150px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#utn
{
    background-image: url(../resources/images/utn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}

.flag
{
    background-image: url(../resources/icons/argentina.png);
    background-size: cover;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    margin-left: 5px;
    margin-right: 2px;
}

#button
{
    color: maroon;    
    font-weight: 600;
    text-shadow: 1px 2px 10px red;
}
#button:hover
{
    text-shadow: 1px 2px 10px red, 1px 2px 20px maroon;
    transition: 0.2s;
}

.red
{
    background-color: rgb(171, 245, 156);
}

.yellow
{
    background-color: rgb(212, 210, 54);
}

.blue
{
    background-color: rgb(80, 126, 196);
}


.left
{    
    left: -100%;
    bottom: 0%;
    z-index: 5;
}

.right
{
    right: 0%;
    bottom: 0%;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    z-index: 5;
}
