
.front,
.back
{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.back
{
    position: absolute;
    top: 0%;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.flip
{
    background-size: cover;
    cursor: pointer;
    border: unset;
    background-color: #04AA6D;
    box-shadow: 0 3px #999;    
}

.flip:hover
{
    background-color: #3e8e41
}

.flip:active
{
    background-color: #3e8e41;
    box-shadow: 0 0px #eafa0c !important;
    transform: translateY(4px);
}
