main
{
    margin-left: 10%;
    margin-right: 10%;
    height: 97vh;
    background-color: rgb(131, 189, 83);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    max-width: 480px;
    box-shadow: 0 0 10px #0b0b0b99;
    z-index: 3;
    perspective: 1000px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}

/*.inner
{
    transform-style: preserve-3d;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;    
}*/

.front,
.back
{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.back
{
    position: absolute;
    top: 0%;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.flip
{
    background-size: cover;
    cursor: pointer;
    border: unset;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
    background-color: #04AA6D;
    box-shadow: 0 3px #999;
}

.flip:hover
{
    background-color: #3e8e41
}

.flip:active
{
    background-color: #3e8e41;
    box-shadow: 0 3px #eafa0c;
    transform: translateY(4px);
}
