@media only screen and (max-width: 1024px)
{
    .background
    {
        width: 100%;
    }

    .background-d
    {
        width: 100%;
    }
}

@media only screen and (max-width: 420px)
{
    body
    {
        width: 100%;
        min-width: unset;
    }
    
    main
    {
        padding-left: unset;
        padding-right: unset;
        padding-top: 10px;
        width: 280px;
    }

    nav
    {
        padding-top: unset;
        justify-content: center !important;
        margin-bottom: 10px !important;
    }

    .sec
    {
        padding-top: unset;
    }

    .profile-pic
    {
        margin-right: 10px;
    }
    .left, .right
    {
        visibility: hidden;
    }    
}